.box-2 [class*="bone-"]{
    background-color: #e36f60;
}
.box-2:hover.box-2 .bone-1{
    -webkit-animation: bones-2 1s linear;
    -moz-animation: bones-2 1s linear;
    -o-animation: bones-2 1s linear;
    animation: bones-2 1s linear;
}
.box-2:hover.box-2 .bone-2{
    -webkit-animation: bones-2 1.1s linear;
    -moz-animation: bones-2 1.1s linear;
    -o-animation: bones-2 1.1s linear;
    animation: bones-2 1.1s linear;
}
.box-2:hover.box-2 .bone-3{
    -webkit-animation: bones-2 1.2s linear;
    -moz-animation: bones-2 1.2s linear;
    -o-animation: bones-2 1.2s linear;
    animation: bones-2 1.2s linear;
}
.box-2:hover.box-2 .bone-4{
    -webkit-animation: bones-2 1.3s linear;
    -moz-animation: bones-2 1.3s linear;
    -o-animation: bones-2 1.3s linear;
    animation: bones-2 1.3s linear;
}
.box-2:hover.box-2 .bone-5{
    -webkit-animation: bones-2 1.4s linear;
    -moz-animation: bones-2 1.4s linear;
    -o-animation: bones-2 1.4s linear;
    animation: bones-2 1.4s linear;
}
.box-2:hover.box-2 .bone-6{
    -webkit-animation: bones-2 1.5s linear;
    -moz-animation: bones-2 1.5s linear;
    -o-animation: bones-2 1.5s linear;
    animation: bones-2 1.5s linear;
}
.box-2:hover.box-2 .bone-7{
    -webkit-animation: bones-2 1.6s linear;
    -moz-animation: bones-2 1.6s linear;
    -o-animation: bones-2 1.6s linear;
    animation: bones-2 1.6s linear;
}

@-webkit-keyframes bones-2 {
    0%{transform:rotate(0deg);}
    15%{background-color:#dc8551;}
    30%{background-color:#cfaf4e;}
    45%{background-color:#338e36;}
    60%{background-color:#313891;}
    75%{background-color:#8937b4;}
    
    0% {transform:rotate(0deg);}
    50% {transform:rotate(90deg);}
    100% {
        transform:rotate(0deg);
        background-color:#e36f60;
    }
}
     