<h1>Repositories list</h1>
<h2 ng-if="userName">{{userName}}</h2>
<table class="panel panel-primary table table-striped table-hover">
    <thead class="panel-heading">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in reposData">
            <td>
                <a ng-href="#/repo/{{repo.full_name}}">
                    <span class="glyphicon glyphicon-book"></span>
                    {{repo.name}}
                </a>
            </td>
            <td>{{repo.description}}</td>
            <td><a ng-href="#/user/{{repo.owner.login}}/">{{repo.owner.login}}</a></td>
        </tr>
    </tbody>
</table>
<pre>{{reposData | json}}</pre>