@font-face {
  font-family: pt_serif;
  src: url('../assets/fonts/PT_Serif-Web-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: open-sans;
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  transition: .3s;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: open-sans, sans-serif;
  box-sizing: border-box;
}
body h1 {
  margin: 16px 0;
  font-family: pt_serif, serif;
}
body h2,
body h3 {
  margin: 8px 0;
  font-family: pt_serif, serif;
}
body a {
  color: #3366cc;
  text-decoration: none;
  opacity: .8;
}
body a:hover,
body a:focus,
body a:active {
  opacity: 1;
}
body p {
  margin: 0;
}
body ul,
body ol {
  list-style: none;
  padding: 0;
}
body input,
body button {
  padding: 8px 16px;
  border-radius: 2px;
  border: 1px solid #d0d0bc;
  opacity: .8;
  -webkit-box-shadow: 0 2px 2px 0 rgba(1, 1, 2, 0.16);
  -moz-box-shadow: 0 2px 2px 0 rgba(1, 1, 2, 0.16);
  box-shadow: 0 2px 2px 0 rgba(1, 1, 2, 0.16);
}
body input:hover,
body button:hover,
body input:focus,
body button:focus,
body input:active,
body button:active {
  -webkit-box-shadow: 0 3px 8px 0 rgba(1, 1, 2, 0.2);
  -moz-box-shadow: 0 3px 8px 0 rgba(1, 1, 2, 0.2);
  box-shadow: 0 3px 8px 0 rgba(1, 1, 2, 0.2);
  opacity: 1;
}
body button {
  cursor: pointer;
}
body hr {
  border: 1px solid #d0d0bc;
}
body header {
  overflow: hidden;
  background-color: #fafaf8;
  border-bottom: 1px solid #d0d0bc;
  padding-bottom: 16px;
}
body footer {
  background-color: #3366cc;
  border-top: 1px solid #d0d0bc;
  padding: 16px 0;
  color: #d0d0bc;
}
body footer a {
  color: #fafaf8;
}
body pre {
  margin: 8px;
  overflow: auto;
  background-color: #fafaf8;
  border-radius: 2px;
  border: 1px solid #d0d0bc;
}
body .btn-primary {
  background-color: #3366cc;
  border-color: #3366cc;
  color: #fafaf8;
}
body .container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 576px) {
  body .container {
    width: 500px;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  body .container {
    width: 700px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  body .container {
    width: 900px;
    padding: 0;
  }
}
@media only screen and (min-width: 1200px) {
  body .container {
    width: 1100px;
    padding: 0;
  }
}
body .text-center {
  text-align: center;
}
.result {
  padding-bottom: 16px;
  overflow: hidden;
  opacity: .8;
}
.result:hover,
.result:focus,
.result:active {
  opacity: 1;
}
.result .result-header h3 {
  display: inline;
}
.result .result-description {
  padding: 8px 0;
  color: #7295dc;
}
.result .result-content {
  overflow: hidden;
  padding: 8px 0;
}
.result .result-content img {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(1, 1, 2, 0.16);
  -moz-box-shadow: 0 2px 2px 0 rgba(1, 1, 2, 0.16);
  box-shadow: 0 2px 2px 0 rgba(1, 1, 2, 0.16);
}
